[Unit]
Description=PoE dat shape generation
After=network.target

[Service]
WorkingDirectory=%h/code/dat-shape
Environment=PYTHONUNBUFFERED=1
# EnvironmentFile=%h/code/annotate-version/daemon.env
ExecStart=%h/.local/bin/poetry run dat_shape

[Install]
WantedBy=default.target